.wrapperLogin {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.error {
    color: #cc1b08;
}
.itemForm {
    padding: 10px;
}