.packsPage {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 95px 10px 10px;
    min-height: 100vh;
    /*position: relative;*/
}

.tableControls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.searchForm {
    margin-bottom: 5px;
}
.showMine {
    display: flex;
    align-items: center;
}

.showMine * {
    cursor: pointer;
}
.pageControls {
    text-align: right;
}

.headerTable {
    display: flex;
    background: #d9d9db;
    border: 1px solid #4e4e4e;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 5px;
    flex-basis: 18%;
    border-right: 1px solid #4e4e4e;
}
.headerEdit {
    flex-basis: 10%;
}
.headerTitle {
    flex-basis: 36%;
}
.headerLearn {
    border-right: none;
}

.addButton {
    cursor: pointer;
    line-height: 1;
    padding: 12px 12px 12px 30px;
    background-color: #ffffff;
    background-image: url("/src/assets/add.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: top 10px left 12px;
    font-size: 15px;
    border: 1px solid #ffffff;
    outline: none;
    transition: 0.2s;
    text-transform: uppercase;
    position: relative;
}
.addButton:hover {
    border: 1px solid #4e4e4e;
}

@media (max-width: 1095px) {
    .headerItem {
        flex-basis: 18%;
    }
    .headerEdit {
        flex-basis: 15%;
    }
    .headerTitle {
        flex-basis: 31%;
    }
}




