.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.selector {
    width: 24px;
    height: 24px;
    cursor: pointer;
    line-height: 1;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    transition: 0.3s;
}
.selector:hover  {
    background: #292d33;
    color: #fff;
}
.active {
    background-color: #292d33;
    color: #fff;
}

