.editBlock {
    padding: 10px;
}
.sent {
    padding: 10px;
    color: chartreuse;
}
.sent p {
    margin: 0;
    padding: 0;
}
.error {
    width: max-content;
    padding: 10px;
    color: #cc1b08;
    font-weight: bold;
    border: 1px solid #cc1b08;
}