.wrapperSingUp {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
}
.error {
    color: #cc1b08;
}