.cardsPage {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 95px 10px 10px;
    min-height: 100vh;
    /*position: relative;*/
}
.tableControls {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pageControls  {}
.addButton {
    cursor: pointer;
    line-height: 1;
    padding: 12px 12px 12px 30px;
    background-color: #ffffff;
    background-image: url("/src/assets/add.svg");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: top 10px left 12px;
    font-size: 15px;
    border: 1px solid #ffffff;
    outline: none;
    transition: 0.2s;
    text-transform: uppercase;
    position: relative;
}
.addButton:hover {
    border: 1px solid #4e4e4e;
}

.headerTable {
    display: flex;
    background: #d9d9db;
    border: 1px solid #4e4e4e;
}
.headerItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 5px;
    flex-basis: 18%;
    border-right: 1px solid #4e4e4e;
}
.questionHeaderItem, .answerHeaderItem {
    flex-basis: 28%;
}
.updatedHeaderItem {
    border-right: none;
}
