.row {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    border: 1px solid #4e4e4e;
    border-top: none;
}

.rowItem {
    padding: 10px 5px;
    flex-basis: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #4e4e4e;
}
.rowItemGeneral {
    flex-basis: 20%;
}
.mainRowItem {
    flex-basis: 28%;
}
.mainRowItemGeneral {
    flex-basis: 30%;
}
.updatedRowItem {
    border-right: none;
}
.btnRowItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconButton {
    cursor: pointer;
    line-height: 1;
    padding: 5px 7px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    outline: none;
    transition: 0.3s;
    margin-right: 3px;
}
.iconButton:hover {
    border: 1px solid #4e4e4e;
}
@media (max-width: 768px) {
   .row {
       width: 750px;
   }
    .rowItem {
        font-size: 14px;
    }
    .iconButton {
        padding: 2px 4px;
        background-color: transparent;
        border: none;
    }
    .iconButton:hover {
        border: none;
    }
}

