.row {
    background-color: rgba(232, 205, 241, 0.9);
    display: flex;
    align-items: center;
    border: 1px solid #4e4e4e;
    border-top: none;
}
/*.row:last-child {*/
/*    border-bottom: none;*/
/*}*/

.rowItem {
    padding: 10px 5px;
    flex-basis: 20%;
    text-align: center;
}
.btnRowItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconButton {
    cursor: pointer;
    line-height: 1;
    padding: 6px 9px;
    background-color: #fff5f1;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 4px;
    transition: 0.2s;
}

.iconButton:hover {
    background-color: #ffc3af;
}

