.formPage {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 400px;
    max-width: 100%;
    min-height: 480px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}
.title {
    font-family: 'Comfortaa_Bold', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}
input[type=text] {
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-bottom: 2px solid ;
    font-size: 16px;
    outline: none;
}
.itemForm {
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    line-height: 1;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    background: none;
    border: 2px solid #000000;
    outline: none;
    transition: 0.2s;
}

.button:hover {
    background-color: #000000;
    color: #fff;
}
.overflow {
    position: absolute;
    padding-top: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(212, 212, 212, 0.5);
    font-size: 24px;
    font-weight: bold;
    pointer-events: none;
}
.requestError {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #775298;
    padding: 10px 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.validateError {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cc1b08;
    padding: 10px 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}
.link {
    font-size: 16px;
    color: #292d33;
    font-family: 'Comfortaa_Bold', sans-serif;
}
.forgot {
    margin-bottom: 20px;
}
.forgot .link {
    font-size: 14px;
}