.wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    text-align: center;
}
.itemForm {
    padding: 10px;
}
.error {
    margin: 10px;
    width: max-content;
    padding: 10px;
    color: #cc1b08;
    font-weight: bold;
    border: 1px solid #cc1b08;
}
